* {
	 -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
	margin: 0;
	background-color: #7279D8;
}
	
header {
	width: 100%;
	height: 30px;
	background-color: #2F3584;
	font-size: 24px;
	color: white;
	padding-left: 8px;	
}

#piano {
	position: relative;
}

.key {
	border: 5px rgb(112, 112, 112) outset;
	display: inline-block;
	-webkit-tap-highlight-color: pink;	
}

.key.white {
	background-color: white;
	height: 300px;
	width: 10%;
}

.key.white:active, .key.black:active{
	border-style: solid;
	border-color: black;
}

.key.black {
	height: 180px;
	width: 30px;
	position: absolute;
	top: 0;
	background-color: black;
	margin-left: -22px;
}
